#pgeo_paygeo_page .rn-field.rn-textbox{
    overflow: hidden;
}

#pgeo_paygeo_page .rn-option-page-tabs-sublist{
    padding-left: 25px!important;
}

.rn-container .rn-textblock.paygeo-big-message{
    padding: 10px 18px;
}

.rn-container .rn-textblock.paygeo-center-message{
    text-align: center!important;
}

.paygeo_rules > .rn-ui-block{
    padding-top:5px!important;
}

.paygeo_rules_title{
    border-bottom: 0!important;
}

.paygeo_rules_title .rn-ui-block{
   padding-top:20px!important;
}

.rn-container .rn-ui-section.rn-ui-big-section.paygeo_rules_title>.rn-ui-block>.rn-ui-head{
     padding-bottom:18px!important;
}


.paygeo_rules_apply_mode .rn-repeater-section{
        margin-bottom:4px!important;
}


.rn-container .rn-repeater.paygeo_gateway_options .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-body{
    border-top:0;
}

.rn-container .rn-repeater.paygeo_gateway_options > .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-head{
    background-color: transparent!important;
}

.rn-container .rn-repeater.paygeo_gateway_options > .rn-repeater-sections > .rn-repeater-section >.rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-delete{
    font-size: 21px;
}

.rn-container .rn-repeater.paygeo_gateway_options > .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-sort{
    width: 32px;
    padding: 4px 23px 0 11px;
    font-size: 18px;
}


.rn-container .rn-repeater.paygeo_gateway_options .rn-repeater-sections .rn-repeater-section{
    margin-bottom: 10px!important;
}

.rn-container .rn-repeater.paygeo_gateway_options .rn-repeater-sections .rn-repeater-section .rn-ui-section.rn-first .rn-ui-block{
    padding-top: 3px!important;
}


.rn-container .rn-repeater.paygeo_gateway_options .paygeo_account_details .rn-repeater-sections .rn-repeater-section{
   margin-bottom: 5px!important; 
}


.rn-container .rn-repeater.paygeo_calcs .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-body{
    border-top:0;
}

.rn-container .rn-repeater.paygeo_calcs > .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-head{
    background-color: transparent!important;
}

.rn-container .rn-repeater.paygeo_calcs > .rn-repeater-sections > .rn-repeater-section >.rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-delete{
    font-size: 21px;
}

.rn-container .rn-repeater.paygeo_calcs > .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-sort{
    width: 32px;
    padding: 4px 23px 0 11px;
    font-size: 18px;
}


.rn-container .rn-repeater.paygeo_calcs .rn-repeater-sections .rn-repeater-section{
    margin-bottom: 10px!important;
}

.rn-container .rn-repeater.paygeo_calcs .paygeo_gateway_conditions .rn-repeater-sections .rn-repeater-section{
    margin-bottom: 5px!important;
}

.rn-container .rn-repeater.paygeo_calcs .rn-repeater-sections .rn-repeater-section .rn-ui-section.rn-first .rn-ui-block{
    padding-top: 3px!important;
}


.rn-container .rn-repeater.paygeo_gateway_rules > .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-body{
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.rn-container .rn-repeater.paygeo_gateway_rules > .rn-repeater-sections > .rn-repeater-section > .rn-repeater-section-body > .rn-repeater-section-inner > .rn-ui-subapp > .rn-ui-section > .rn-ui-block{
    padding-left: 20px;
    padding-right: 20px;
}

.paygeo_gateway_options_title .rn-repeater-section{
    margin-bottom: 0px!important;
}

.paygeo_gateway_options_title .rn-repeater-section-body{
    padding-bottom: 0px!important;
}

.paygeo_calcs_title .rn-repeater-section{
    margin-bottom: 0px!important;
}

.paygeo_calcs_title .rn-repeater-section-body{
    padding-bottom: 0px!important;
}

.paygeo_gateway_options_field > .rn-ui-block
{
    padding-top:10px!important;
}
.paygeo_calcs_field > .rn-ui-block
{
    padding-top:10px!important;
}

.rn-ui-section.paygeo_gateway_panel_options_field > .rn-ui-block{
    padding-left: 0!important;
    padding-right: 0!important;
}
.paygeo_gateway_panel_options > .rn-repeater-sections > .rn-repeater-section{
    border-left: 0!important;
    border-right: 0!important;
}

.rn-ui-section.paygeo_panel_calcs_field > .rn-ui-block{
    padding-left: 0!important;
    padding-right: 0!important;
}

.paygeo_panel_calcs > .rn-repeater-sections > .rn-repeater-section{
    border-left: 0!important;
    border-right: 0!important;
}


.paygeo_logic_title .rn-ui-head{
   padding-bottom: 0px!important;
}


.fee.pg_discount .thumb div{
    border-radius: 55%;
    border: 0.11em solid #ccc;
    box-sizing: border-box;
    width: 1.11em!important;
    height: 1.11em!important;
}

.fee.pg_discount .thumb div::before{
    content: ''!important;  
}


#paygeo_cart_discounts_box .inside{
    padding: 0px;
    margin: 0px;
}

#paygeo_cart_discounts_box .inside > .rn-metabox{
        padding: 0px 10px 5px 10px;
}

#paygeo_cart_discounts_box .inside .rn-repeater-ui > .rn-ui-block{
   padding-top: 10px; 
}

#pgeo_paygeo_page.rn-option-page .rn-option-page-aside .rn-option-page-aside-details-after {
    height: 20px;
}

#pgeo_paygeo_page.rn-option-page .rn-option-page-aside .rn-option-page-tabs .rn-option-page-tabs-list > .rn-option-li > a {
    padding: 5px 5px 5px 20px;
}

#pgeo_paygeo_page.rn-option-page .rn-option-page-aside .rn-option-page-tabs .rn-option-page-tabs-list > .rn-option-li .rn-option-page-tabs-sublist {
    padding: 25px 0 25px 35px;
}

#pgeo_paygeo_page.rn-option-page .rn-option-page-tool:not(.rn-option-page-footer)
{
    position: sticky;
    top: 31px;
    z-index: 410;
    background-color: #fff;
}

.notice.pgeo-paygeo-notice {
    padding: 10px 15px;
    font-size: 14px;
}

.notice.pgeo-paygeo-notice p.notice-message {
    font-size: 14px;
    margin-bottom: 14px;
}

.pgeo-paygeo-btn {
    display: inline-block;
    padding: 5px 9px 4px 7px;
    ;
    font-size: 12px;
    color: #fff;
    background-color: #00a0d2;
    border: 1px solid #00a0d2;
    margin-right: 2px;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .4px;
    transition: all .3s ease;
}

.pgeo-paygeo-btn:hover {
    color: #fff;
    border-color: #0090bd;
    background-color: #0090bd;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: inset 0px 1px 1px rgb(0 0 0 / 30%);
    box-shadow: inset 0px 1px 1px rgb(0 0 0 / 30%);
}

.pgeo-paygeo-btn:active,
.pgeo-paygeo-btn:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.pgeo-paygeo-btn .dashicons {
    position: relative;
    top: 0px;
    padding-right: 3px;
    font-size: 18px;
}

.pgeo-paygeo-btn.pgeo-paygeo-btn-secondary {
    color: #697578;
    background-color: #f1f1f1;
    border-color: #ccc;
}

.pgeo-paygeo-btn.pgeo-paygeo-btn-secondary:hover {
    color: #697578;
    background-color: #eaeaea;
}


#pgeo_paygeo_page .rn-option-page-aside-details-logo {
    margin-bottom: 8px;
}

#pgeo_paygeo_page .rn-option-page-aside-details-title {
    margin-bottom: 5px;
}

#pgeo_paygeo_page hr {
    display: none;
}

#pgeo_paygeo_page .rn-option-page-aside-details-after {
    height: 22px;
}

#pgeo_paygeo_page .rn-option-page-tabs-list > li > a {
    padding: 5px 5px 5px 27px;
}

#pgeo_paygeo_page .rn-option-page-tabs-list > li > a::before {
    top: 0px;
    position: relative;
    font-size: 14px;
    margin-right: 9px;
}

#pgeo_paygeo_page .rn-option-page-tabs-list > li > a::before {
    content: '\f013';
}

#pgeo_paygeo_page #rn_link_settings::before {
    content: '\f085';
   font: var(--fa-font-solid);
}



#pgeo_paygeo_page #rn_link_rn_import_export::before {
    content: '\f0a0';
    font: var(--fa-font-solid);
}

#pgeo_get_premium span {
    font-weight: 600;
    color: red;
}