#woopcd_partialcod_page .rn-field.rn-textbox {
    overflow: hidden;
}

#woopcd_partialcod_page .rn-option-page-tabs-sublist {
    padding-left: 25px!important;
}

.rn-container .rn-textblock.partialcod-big-message {
    padding: 10px 18px;
}

.rn-container .rn-textblock.partialcod-center-message {
    text-align: center!important;
}

.partialcod_rules>.rn-ui-block {
    padding-top: 5px!important;
}

.partialcod_rules_title {
    border-bottom: 0!important;
}

.partialcod_rules_title .rn-ui-block {
    padding-top: 20px!important;
}

.rn-container .rn-ui-section.rn-ui-big-section.partialcod_rules_title>.rn-ui-block>.rn-ui-head {
    padding-bottom: 18px!important;
}

.partialcod_rules_apply_mode .rn-repeater-section {
    margin-bottom: 4px!important;
}

.rn-container .rn-repeater.partialcod_gateway_options .rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-body {
    border-top: 0;
}

.rn-container .rn-repeater.partialcod_gateway_options>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-head {
    background-color: transparent!important;
}

.rn-container .rn-repeater.partialcod_gateway_options>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-delete {
    font-size: 21px;
}

.rn-container .rn-repeater.partialcod_gateway_options>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-sort {
    width: 32px;
    padding: 4px 23px 0 11px;
    font-size: 18px;
}

.rn-container .rn-repeater.partialcod_gateway_options .rn-repeater-sections .rn-repeater-section {
    margin-bottom: 10px!important;
}

.rn-container .rn-repeater.partialcod_gateway_options .rn-repeater-sections .rn-repeater-section .rn-ui-section.rn-first .rn-ui-block {
    padding-top: 3px!important;
}

.rn-container .rn-repeater.partialcod_gateway_options .partialcod_account_details .rn-repeater-sections .rn-repeater-section {
    margin-bottom: 5px!important;
}

.rn-container .rn-repeater.partialcod_calcs .rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-body {
    border-top: 0;
}

.rn-container .rn-repeater.partialcod_calcs>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-head {
    background-color: transparent!important;
}

.rn-container .rn-repeater.partialcod_calcs>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-delete {
    font-size: 21px;
}

.rn-container .rn-repeater.partialcod_calcs>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-head .rn-repeater-head-buttons .rn-repeater-head-sort {
    width: 32px;
    padding: 4px 23px 0 11px;
    font-size: 18px;
}

.rn-container .rn-repeater.partialcod_calcs .rn-repeater-sections .rn-repeater-section {
    margin-bottom: 10px!important;
}

.rn-container .rn-repeater.partialcod_calcs .partialcod_gateway_conditions .rn-repeater-sections .rn-repeater-section {
    margin-bottom: 5px!important;
}

.rn-container .rn-repeater.partialcod_calcs .rn-repeater-sections .rn-repeater-section .rn-ui-section.rn-first .rn-ui-block {
    padding-top: 3px!important;
}

.rn-container .rn-repeater.partialcod_gateway_rules>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-body {
    padding-left: 0px!important;
    padding-right: 0px!important;
}

.rn-container .rn-repeater.partialcod_gateway_rules>.rn-repeater-sections>.rn-repeater-section>.rn-repeater-section-body>.rn-repeater-section-inner>.rn-ui-subapp>.rn-ui-section>.rn-ui-block {
    padding-left: 20px;
    padding-right: 20px;
}

.partialcod_gateway_options_title .rn-repeater-section {
    margin-bottom: 0px!important;
}

.partialcod_gateway_options_title .rn-repeater-section-body {
    padding-bottom: 0px!important;
}

.partialcod_calcs_title .rn-repeater-section {
    margin-bottom: 0px!important;
}

.partialcod_calcs_title .rn-repeater-section-body {
    padding-bottom: 0px!important;
}

.partialcod_gateway_options_field>.rn-ui-block {
    padding-top: 10px!important;
}

.partialcod_calcs_field>.rn-ui-block {
    padding-top: 10px!important;
}

.rn-ui-section.partialcod_gateway_panel_options_field>.rn-ui-block {
    padding-left: 0!important;
    padding-right: 0!important;
}

.partialcod_gateway_panel_options>.rn-repeater-sections>.rn-repeater-section {
    border-left: 0!important;
    border-right: 0!important;
}

.rn-ui-section.partialcod_panel_calcs_field>.rn-ui-block {
    padding-left: 0!important;
    padding-right: 0!important;
}

.partialcod_panel_calcs>.rn-repeater-sections>.rn-repeater-section {
    border-left: 0!important;
    border-right: 0!important;
}

.partialcod_logic_title .rn-ui-head {
    padding-bottom: 0px!important;
}

.fee.pg_discount .thumb div {
    border-radius: 55%;
    border: 0.11em solid #ccc;
    box-sizing: border-box;
    width: 1.11em!important;
    height: 1.11em!important;
}

.fee.pg_discount .thumb div::before {
    content: ''!important;
}

#partialcod_cart_discounts_box .inside {
    padding: 0px;
    margin: 0px;
}

#partialcod_cart_discounts_box .inside>.rn-metabox {
    padding: 0px 10px 5px 10px;
}

#partialcod_cart_discounts_box .inside .rn-repeater-ui>.rn-ui-block {
    padding-top: 10px;
}

#woopcd_partialcod_page.rn-option-page .rn-option-page-aside .rn-option-page-aside-details-after {
    height: 20px;
}

#woopcd_partialcod_page.rn-option-page .rn-option-page-aside .rn-option-page-tabs .rn-option-page-tabs-list>.rn-option-li>a {
    padding: 5px 5px 5px 20px;
}

#woopcd_partialcod_page.rn-option-page .rn-option-page-aside .rn-option-page-tabs .rn-option-page-tabs-list>.rn-option-li .rn-option-page-tabs-sublist {
    padding: 25px 0 25px 35px;
}

#woopcd_partialcod_page.rn-option-page .rn-option-page-tool:not(.rn-option-page-footer) {
    position: sticky;
    top: 31px;
    z-index: 410;
    background-color: #fff;
}

.notice.woopcd-partialcod-notice {
    padding: 10px 15px;
    font-size: 14px;
}

.notice.woopcd-partialcod-notice p.notice-message {
    font-size: 14px;
    margin-bottom: 14px;
}

.woopcd-partialcod-btn {
    display: inline-block;
    padding: 5px 9px 4px 7px;
    font-size: 12px;
    color: #fff;
    background-color: #00a0d2;
    border: 1px solid #00a0d2;
    margin-right: 2px;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: .4px;
    transition: all .3s ease;
}

.woopcd-partialcod-btn:hover {
    color: #fff;
    border-color: #0090bd;
    background-color: #0090bd;
    text-decoration: none;
    outline: none;
    -webkit-box-shadow: inset 0px 1px 1px rgb(0 0 0 / 30%);
    box-shadow: inset 0px 1px 1px rgb(0 0 0 / 30%);
}

.woopcd-partialcod-btn:active,
.woopcd-partialcod-btn:visited {
    color: #fff;
    text-decoration: none;
    outline: none;
    box-shadow: none;
}

.woopcd-partialcod-btn .dashicons {
    position: relative;
    top: 0px;
    padding-right: 3px;
    font-size: 18px;
}

.woopcd-partialcod-btn.woopcd-partialcod-btn-secondary {
    color: #697578;
    background-color: #f1f1f1;
    border-color: #ccc;
}

.woopcd-partialcod-btn.woopcd-partialcod-btn-secondary:hover {
    color: #697578;
    background-color: #eaeaea;
}

#woopcd_partialcod_page .rn-option-page-aside-details-logo {
    margin-bottom: 8px;
}

#woopcd_partialcod_page .rn-option-page-aside-details-title {
    margin-bottom: 5px;
}

#woopcd_partialcod_page hr {
    display: none;
}

#woopcd_partialcod_page .rn-option-page-aside-details-after {
    height: 22px;
}

#woopcd_partialcod_page .rn-option-page-tabs-list>li>a {
    padding: 5px 5px 5px 27px;
}

#woopcd_partialcod_page .rn-option-page-tabs-list>li>a::before {
    top: 0px;
    position: relative;
    font-size: 14px;
    margin-right: 7px;
}

#woopcd_partialcod_page .rn-option-page-tabs-list>li>a::before {
    content: '\f013';
}

#woopcd_partialcod_page #rn_link_settings::before {
    content: '\f085';
    font: var(--fa-font-solid);
}

#woopcd_partialcod_page #rn_link_rn_import_export::before {
    content: '\f0a0';
    font: var(--fa-font-solid);
}

#woopcd_get_premium {
    font-weight: 600;
    color: red;
}